@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Open+Sans&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --font-family-1: "Archivo", sans-serif;
  --font-family-2: "Poppins", sans-serif;
  --font-family-3: "Open Sans", sans-serif;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-big: 3.7rem;
}
